@use "../partials/mixins" as *;
@use "../partials/variables" as *;
@use "../partials/typography" as *;

.shows {
    box-sizing: border-box;
    padding-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;

    @include tablet {
        width: 100%;
        padding-left: 1.5rem;
    }

    @include desktop {

        display: flex;
        width: auto;
    }

    &__table {
        margin-top: 1.875rem;
        text-align: left;
       

        @include tablet {
            text-align: start;
            margin-right: 1.5rem;
        }

        @include desktop {

            width: 65%;
        }
    }

    &__card {
        border-bottom: 0.0625rem solid $mercury;

        @include tablet {
            display: flex;
            align-items: left;
            margin-bottom: 0.625rem;
        }

        h3 {
            @include tablet {
                width: 25%;
            }
        }

        p {
            @include tablet {
                width: 25%;
            }
        }
    }
    &__date{
        font-weight: 600;
    }

    &__heading {
        color: #AFAFAF;
        font-family: "Avenir";
        font-weight: 400;
        font-size: 0.6875rem;
        line-height: 0px;

        @include tablet {
            display: none;
        }
    }



    &__desc {
        font-family: "Avenir";
        font-weight: 400;
        width: 25%;
    }

    &__title {
        margin: 0;
        font-family: "Avenir";
        font-weight: 600;
        font-size: 1.7rem;

        @include desktop {
            margin-top: 1.5625rem;
            width: 20%;
            font-size: 2.25rem;
        }
    }

    &__button {
        height: 3.125rem;
        width: 95%;
        background-color: $bandSite-black;
        color: $white;
        font-family: "Avenir";
        font-weight: 600;
        font-size: 0.9rem;
        margin-bottom: 0.625rem;
        border-radius: 0.3125rem;
    
        border: none;
        width: 97%;
       

        @include tablet {
            width: 25%;
        }
        @include desktop {
            width: 20%;
        }

        &:hover {
            &__button {
                background-color: $bandSite-black;
                cursor: pointer;
                transition: 1s;
            }
        }
    }

    .table__header {

        font-family: 'Avenir';
        font-weight: 600;
        color: $silver;
        display: none;
     

        @include tablet {
            display: flex;
        }

        p {
            @include tablet {
                width: 25%;
            }
        }
    }

    .table__head {
        color: $silver;
        font-family: "Avenir";
        font-weight: 600;
    }
}