$tablet-width: 768px;
$desktop-width: 1280px;

// Primary Colors

$bandSite-black: #323232;
$white: #FFFFFF;
$silver: #AFAFAF;

// Secondary Colors 

$bandSite-darkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;